# {{cookiecutter.demo_name}}

This lab is tested for:  

  cEOS-lab version: {{ cookiecutter.ceos_lab_version }}  
  Containerlab Version: {{ cookiecutter.clab_version }}  
  Codespace Container Size  
    CPUs: {{ cookiecutter.container_size.cpus }}  
    memory: {{ cookiecutter.container_size.memory }}  
    storage: {{ cookiecutter.container_size.storage }}  

Last reviewed: {% now 'local', '%d/%m/%Y' %}  

Please check the lab materials:

- [Lab Documentation](https://{{ cookiecutter.__gh_org_name }}.github.io/{{ cookiecutter.__gh_repo_name }}/{{cookiecutter.__demo_slug}}/)
- [HTML Slides](https://{{ cookiecutter.__gh_org_name }}.github.io/{{ cookiecutter.__gh_repo_name }}/slides/{{cookiecutter.__demo_slug}}.html)
- [PDF Slides](https://{{ cookiecutter.__gh_org_name }}.github.io/{{ cookiecutter.__gh_repo_name }}/pdfs/{{cookiecutter.__demo_slug}}.pdf)
