# {{cookiecutter.demo_name}}

This lab is tested for:  

  cEOS-lab version: {{ cookiecutter.ceos_lab_version }}  
  Containerlab Version: {{ cookiecutter.clab_version }}  
  Codespace Container Size  
    CPUs: {{ cookiecutter.container_size.cpus }}  
    memory: {{ cookiecutter.container_size.memory }}  
    storage: {{ cookiecutter.container_size.storage }}  

Last reviewed: {% now 'local', '%d/%m/%Y' %}  

Please check the lab materials:

- [Lab Documentation](https://{% raw %}{{gh.org_name}}{%endraw%}.github.io/{% raw %}{{gh.repo_name}}{%endraw%}/{{cookiecutter.__demo_slug}}/{{cookiecutter.__demo_slug}}/)
- [HTML Slides](https://{% raw %}{{gh.org_name}}{%endraw%}.github.io/{% raw %}{{gh.repo_name}}{%endraw%}/slides/{{cookiecutter.__demo_slug}}.html)
- [PDF Slides](https://{% raw %}{{gh.org_name}}{%endraw%}.github.io/{% raw %}{{gh.repo_name}}{%endraw%}/pdfs/{{cookiecutter.__demo_slug}}.pdf)
