---
name: build container for {{ cookiecutter.demo_name }}

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/{{ cookiecutter.__demo_slug }}.yml
      - .github/workflows/container-build-child-workflow.yml
      - containers/{{ cookiecutter.__demo_slug }}
  workflow_dispatch:
    branches: [main]

jobs:
  build-demo-container:
    uses: ./.github/workflows/container-build-child-workflow.yml
    with:
      container_name: "{{ cookiecutter.__demo_group }}"
      image_tags: "{{ cookiecutter.__demo_name }}"
      from_image: "{{ cookiecutter.from_image }}"
      from_variant: "{{ cookiecutter.from_variant }}"
      username: "{{ cookiecutter.container_username }}"
      clab_version: "{{ cookiecutter.clab_version }}"
      ceos_lab_version: "{{ cookiecutter.ceos_lab_version }}"
      git_init: {{ cookiecutter.git_init }}
