#!/usr/bin/env bash

cp -r ./ ../
rm -rf /workspaces/{% raw %}{{gh.repo_name}}{%endraw%}/{{ cookiecutter.__demo_slug }}

# print additional instructions
echo "The required files for {{ cookiecutter.demo_name }} were generated."
echo "Please review them before committing."
echo ""
echo "If you are creating a new demo, please do not forget to reference it in the 'nav' section of 'mkdocs.yml'"
echo ""
echo "Example:"
echo ""
echo "nav:"
echo "  - {{ cookiecutter.demo_group }}:"
echo "      - {{ cookiecutter.demo_name }}: {{ cookiecutter.__demo_slug }}.md"
