---
marp: true
theme: default
class: invert
author: {{ cookiecutter.demo_author }}
# size 16:9 1280px 720px
size: 16:9
paginate: true
math: mathjax
style: |
    :root {
      background: linear-gradient(to bottom, #000000, #434343);
    }
    img[alt~="custom"] {
      float: right;
    }
    .columns {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;
    }
    footer {
      font-size: 14px;
    }
    section::after {
      font-size: 14px;
    }
    img {
      background-color: transparent;
    }
    pre {
        background: linear-gradient(to top, #000000, #434343);
        background-color: transparent;
    }
---

# {{ cookiecutter.demo_name }}

<!-- Do not add page number on this slide -->
<!--
_paginate: false
-->

```text
{{ cookiecutter.demo_name }} Demo
{{ cookiecutter.demo_author }}
                                    {% now 'local', '%d/%m/%Y' %}
```

![bg right](img/leonardo-yip-unsplash.jpg)

---

# Agenda

<style scoped>section {font-size: 22px;}</style>

![bg right opacity:75%](img/pexels-suzy-hazelwood-1226398.jpg)

- item1
- item2
- item3

---

<style scoped>section {font-size: 45px;}</style>

![bg left opacity:75%](img/pexels-ann-h-7186206.jpg)

# Q&A

- [Ansible AVD](https://avd.arista.com/)
- [This repository](https://github.com/{{ __gh_slug }})
