hostname {{ cookiecutter.__lab.lab_inventory[cookiecutter_file_index].hostname }}
!
no aaa root
!
username {{ cookiecutter.clab_user }} privilege 15 role network-admin secret {{ cookiecutter.clab_password }}
username {{ cookiecutter.container_username }} privilege 15 role network-admin secret {{ cookiecutter.container_username }}
!
vrf instance MGMT
!
ip name-server vrf MGMT 8.8.8.8
dns domain avd.lab
!
ntp local-interface vrf MGMT Management0
ntp server vrf MGMT time.apple.com
ntp server vrf MGMT time.google.com
ntp server vrf MGMT time.windows.com
!
service routing protocols model multi-agent
!
management api http-commands
   protocol https
   no shutdown
   !
   vrf MGMT
      no shutdown
!
interface Management0
   vrf MGMT
      ip address {{ cookiecutter.__lab.lab_inventory[cookiecutter_file_index].mgmt_ip }}/{{ cookiecutter.clab_mgmt_mask }}
!
ip route vrf MGMT 0.0.0.0/0 {{ cookiecutter.clab_mgmt_gw }}
!
ip name-server vrf MGMT 8.8.8.8
!
end