# {{ cookiecutter.demo_name }}

## Demo Details
{% if cookiecutter.container_size.cpus in ["2", "4"] %}
!!! Success "Container Requirements"

    CPUs: {{ cookiecutter.container_size.cpus }}  
    Memory: {{ cookiecutter.container_size.memory }}  
    Storage: {{ cookiecutter.container_size.storage }}  

    :material-checkbox-marked-outline: Works with default Codespaces sizing!
{%- else %}
!!! Warning "Container Requirements"

    CPUs: {{ cookiecutter.container_size.cpus }}  
    Memory: {{ cookiecutter.container_size.memory }}  
    Storage: {{ cookiecutter.container_size.storage }}  

    :material-alert-circle-outline:{ .heartbeat } Please request high spec Codespace machines from [Github support](https://support.github.com/) first!
{%- endif %}

[Start "{{ cookiecutter.demo_name }}" in Codespace](https://codespaces.new/{{ cookiecutter.__gh_slug }}?quickstart=1&devcontainer_path=.devcontainer%2F{{ cookiecutter.__demo_slug }}%2Fdevcontainer.json){ .md-button .md-button--primary target=_blank}

[Slides](https://{{ cookiecutter.__gh_org_name }}.github.io/{{ cookiecutter.__gh_repo_name }}/slides/{{ cookiecutter.__demo_slug }}.html){ target=_blank }  
[PDF Slides](https://{{ cookiecutter.__gh_org_name }}.github.io/{{ cookiecutter.__gh_repo_name }}/pdfs/{{ cookiecutter.__demo_slug }}.pdf){ target=_blank }  

!!! Info "Last reviewed: {% now 'local', '%d/%m/%Y' %}"

    Demos and labs reviewed over 6 month age may be outdated.

## How To Run The Demo

???+ Tip "Wait until cEOS-lab image will be imported"

    You can confirm if image was imported correctly with `docker image ls`.  
    In some rare cases the cEOS-lab image may fail to be downloaded.
    For example due to incorrecte token or other API failure on arista.com.  
    In that case you can upload the image manually by right-clicking the Explorer tab of the VSCode interface.

```bash
# 1. start cLab
make start
```

???+ Tip "Wait until all devices will start streaming to CVaaS."

    This may take a while.

!!! Warning "Lab Documents Not Finished"

    This document is created from a Cookiecutter template.
    If you see this message - the lab is not finished and likely published for testing purposes.
    Don't use it unless you are the author.
